@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    font-family: 'Roboto';
}

header {
    position: absolute;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
    
}

/* Edit Header (logo-menu-search-checkout) */

.header_content {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 110px;
}

.header_content_menu ul {
    display: flex;
    gap: 90px;
}

.menu_items {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    

}

.menu_items a {
    text-decoration: none;
    color: #000000;
}

.header_content_search {
    
    width: 220px;
    height: 35px;
}

.header_content_search input {
    width: 100%;
    height: 100%;
    border: none;
    background-image: url(./assets/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 7px 7px;
}


.header_content_input {
    padding: 0px 35px;
    font-size: 15px;
    font-weight: 400;
    color: #9C9696;
    box-sizing: border-box;
}


/* Edit Main */

main {
    display: flex;
    justify-content: space-around;
   
    align-items: center;
    
    
}

.content_principal {

    display: flex;
    justify-content: end;
    
}

.text_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    width: 37%;
    
} 

.content_principal .text_content {
    
    box-sizing: border-box;
} 


.text_content h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    width: 70%;
    text-transform: capitalize;
    padding-top: 100px;
}

.text_content h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #9C9696;
    width: 70%;
}

.text_content p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000000;
}

.text_content button {
    width: 274px;
    height: 90px;
    left: 111px;
    top: 633px;
    border: none;
    background: #FF0000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
} 

.img_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 914px;
    background-color: #C4C4C4;
    box-sizing: border-box;
    
    
    
}

.img_geral {
    text-align: center;
    margin-top: 130px;
}

.img_content_down {
    display: flex;
    gap: 35px;
}


/* .img_content_down img {
    text-align: justify;
    display: inline;
    padding-left: 30px;
    
} */

.img_principal_content3 {
    border-bottom: solid red 5px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_menu ul {
    display: flex;
    gap: 90px;
    align-items: center;
}

.footer_menu li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
}

.footer_link {
    display: flex;
    justify-content: center;
    background-color: #000000;
    width: 437px;
    height: 166px;
    align-items: center;
    
}

.footer_link a {

    text-decoration: none;
    color: #E5E5E5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    
    

}
